/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* styles.css */

:root {
    --background-color: #f9f9f9;
    --text-color: #000;
  }
  
  .dark-theme {
    --background-color: #1a202c;
    --text-color: #fff;
  }
  
  .light-theme {
    --background-color: #f9f9f9;
    --text-color: #000;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  